<div class="container">
  <div class="row">
    <div class="col-md-12 margin-top-5per article-block">
      <% if @article.image.attached? %>
        <%= image_tag @article.image, class: "article-image" %>
      <% else %>
        <%= image_tag "sunset-g4cd1bc08a_1280.jpg", class: "article-image" %>
      <% end %>
      <h1><%= @article.title %></h1>
      <div class="padding-bottom-15 padding-10">
        <%= simple_format @article.body %>
        <p class="text-right">
          <%= @profile.name %>
        </p>
        <p class="text-right">
          <%= @article.created_at.strftime('%Y/%m/%d') %>
        </p>
      </div>
      <div id="article_<%= @article.id %>">
        <%= render 'like', article: @article %>
      </div>

      <% if @article.user == current_user %>
        <%= link_to "編集", edit_article_path(@article), class: "btn btn-primary", style: "margin-bottom: 10px; margin-right: 10px" %>
        <%= link_to "削除する", article_path(@article), method: :delete, data: {confirm: "削除してもよろしいですか？"}, class: "btn btn-danger", style: "margin-bottom: 10px" %>
      <% end %>
      <h3 class="margin-top-10">コメントする</h3>
      <% if user_signed_in? %>
        <%= form_with(model:[@article, @comment], method: :post) do |f| %>
          <%= f.text_area :comment, :size=>"60x10" %>
          <%= f.hidden_field :article_id, value: @article.id %>
          <%= f.submit 'コメントする' %>
        <% end %>
      <% else %>
        <p>※コメントする場合は<%= link_to "ログイン", new_user_session_path %>が必要です</p>
      <% end %>
      <h3 class="margin-top-10">コメント一覧</h3>
      <% @comments.each do |c| %>
        <div>
          <%= c.user.profile.name %>
          <%= c.comment %>
          <hr>
        </div>
      <% end %>

    </div>
  </div>
</div>
